In [43]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/19_Bagging/Exercise/heart.csv")

In [44]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [45]:
df.shape

(918, 12)

In [46]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [47]:
df[df.Cholesterol>(df.Cholesterol.mean()+3*df.Cholesterol.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [48]:
df1=df[df.Cholesterol<=(df.Cholesterol.mean()+3*df.Cholesterol.std())]

In [49]:
df1.shape

(915, 12)

In [50]:
df[df.Oldpeak>(df.Oldpeak.mean()+3*df.Oldpeak.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [53]:
df2=df1[df1.Oldpeak<=(df.Oldpeak.mean()+3*df1.Oldpeak.std())]

In [54]:
df2.shape

(909, 12)

In [55]:
df2[df2.RestingBP>(df2.RestingBP.mean()+3*df2.RestingBP.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [56]:
df3=df2[df2.RestingBP<=(df2.RestingBP.mean()+3*df2.RestingBP.std())]

In [57]:
df3.shape

(902, 12)

In [59]:
df4=df3.copy()

In [60]:
df4.ChestPainType.replace({
    'ATA':1,'NAP':2,'ASY':3,'TA':4
},inplace=True),
df4.RestingECG.replace({
    'Normal':1,
    'ST':2,
    'LVH':3
},inplace=True),
df4.ExerciseAngina.replace({
    'N':0,'Y':1
},inplace=True),
df4.ST_Slope.replace({
    'Up':1,
    'Flat':2,'Down':3
},inplace=True)

In [61]:
df4.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,1,140,289,0,1,172,0,0.0,1,0
1,49,F,2,160,180,0,1,156,0,1.0,2,1
2,37,M,1,130,283,0,2,98,0,0.0,1,0
3,48,F,3,138,214,0,1,108,1,1.5,2,1
4,54,M,2,150,195,0,1,122,0,0.0,1,0

In [62]:
df5=pd.get_dummies(df4,drop_first=True)

In [63]:
df5.head()

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M
0,40,1,140,289,0,1,172,0,0.0,1,0,1
1,49,2,160,180,0,1,156,0,1.0,2,1,0
2,37,1,130,283,0,2,98,0,0.0,1,0,1
3,48,3,138,214,0,1,108,1,1.5,2,1,0
4,54,2,150,195,0,1,122,0,0.0,1,0,1

In [74]:
x=df5.drop('HeartDisease',axis='columns')

In [75]:
y=df5.HeartDisease

In [76]:
x.head()

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Sex_M
0,40,1,140,289,0,1,172,0,0.0,1,1
1,49,2,160,180,0,1,156,0,1.0,2,0
2,37,1,130,283,0,2,98,0,0.0,1,1
3,48,3,138,214,0,1,108,1,1.5,2,0
4,54,2,150,195,0,1,122,0,0.0,1,1

In [77]:
from sklearn.preprocessing import StandardScaler

In [78]:
Scaler=StandardScaler()

In [79]:
X_Scaled=Scaler.fit_transform(x)

In [80]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X_Scaled,y,test_size=0.2,random_state=30)

In [92]:
X_train.shape

(721, 11)

In [93]:
X_test.shape

(181, 11)

In [95]:
181/721

0.2510402219140083

In [100]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
model_rf=SVC()
scores=cross_val_score(SVC(),x,y,cv=5)

In [101]:
scores.mean()

0.6906445672191528

In [103]:
from sklearn.ensemble import BaggingClassifier

In [116]:
bagg=BaggingClassifier(base_estimator=SVC(),n_estimators=100,max_samples=0.9,oob_score=True,random_state=0)

In [119]:
scores=cross_val_score(SVC(),x,y,cv=5)

In [120]:
score.mean()

0.6850767341927564

In [122]:
from sklearn.tree import DecisionTreeClassifier

scores = cross_val_score(DecisionTreeClassifier(random_state=0), x, y, cv=5)
scores.mean()

0.7482811540822591

In [126]:
bagg=BaggingClassifier(base_estimator=DecisionTreeClassifier(),n_estimators=100,max_samples=0.9,oob_score=True,random_state=0)

In [127]:
score=cross_val_score(bagg,x,y,cv=5)

In [128]:
score.mean()

0.8047943523634131

In [130]:
from sklearn.ensemble import RandomForestClassifier
scores=cross_val_score(RandomForestClassifier(),x,y,cv=5)

In [131]:
score.mean()

0.8047943523634131

In [ ]:
bagg=BaggingClassifier(base_estimator=DecisionTreeClassifier(),n_estimators=100,max_samples=0.9,oob_score=True,random_state=0)