In [1]:
import pandas as pd

In [2]:
art=['Jitender', 'Purnima',
          'Arpit', 'Jyoti']

In [3]:
article = [210, 211, 114, 178]

In [23]:
newart=pd.Series(art,index=['s1','s2','s3','s4'])
newarticle=pd.Series(article,index=['s1','s2','s3','s4'])

In [24]:
di={'clo1':newart,'col2':newarticle}

In [25]:
re=pd.DataFrame(di)

In [26]:
re

        clo1  col2
s1  Jitender   210
s2   Purnima   211
s3     Arpit   114
s4     Jyoti   178

In [27]:
re['Age']=pd.Series(article,index=['s1','s2','s3','s4'])

In [28]:
re

        clo1  col2  Age
s1  Jitender   210  210
s2   Purnima   211  211
s3     Arpit   114  114
s4     Jyoti   178  178

In [30]:
from io import StringIO

In [34]:
st=StringIO("""Date;Event;Cost
    10/2/2011;Music;10000
    11/2/2011;Poetry;12000
    12/2/2011;Theatre;5000
    13/2/2011;Comedy;8000
    """)

In [35]:
pd.read_csv(st,index=["1",'2','3','4'])

TypeError: read_csv() got an unexpected keyword argument 'index'

In [36]:
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011'],
                   'Product':[' UMbreLla', '  maTtress', 'BaDmintoN ', 'Shuttle'],
                   'Updated_Price':[1250, 1450, 1550, 400],
                   'Discount':[10, 8, 15, 10]})

In [37]:
df.shape[0]

4

In [38]:
for i in range(df.shape[0]):
    df.iat[i,1]=df.iat[i,1].strip().capitalize()

In [39]:
df

        Date    Product  Updated_Price  Discount
0  10/2/2011   Umbrella           1250        10
1  11/2/2011   Mattress           1450         8
2  12/2/2011  Badminton           1550        15
3  13/2/2011    Shuttle            400        10

In [41]:
import numpy as np

In [43]:
x=np.ones([10,10,3])

In [46]:
o=np.reshape(x,[-1,150])

In [47]:
o

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1.]])

In [50]:
assert np.allclose(o, np.ones([10, 10, 3]).reshape([-1, 150]))

In [51]:
x = np.array([[1, 2, 3], [4, 5, 6]])

In [52]:
out1 = np.ravel(x, order='F')

In [53]:
out1

array([1, 4, 2, 5, 3, 6])

In [59]:
out2=x.flatten(order='F')

In [61]:
assert np.allclose(out1, out2)

In [62]:
x=np.zeros([3,4,5])

In [66]:
o1=np.swapaxes(x,0,1)

In [69]:
o2=x.transpose([1,0,2])

In [70]:
assert o1.shape==o2.shape

In [74]:
print(o1.shape)

(4, 3, 5)

In [78]:
print(np.expand_dims(x,axis=1).shape)

(3, 1, 4, 5)