In [39]:
import pandas as pd

In [40]:
df1=pd.read_csv("train.csv")

In [41]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [42]:
df2=pd.read_csv("test.csv")

In [43]:
df2.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [44]:
df1=df1.drop(columns=['PassengerId','Ticket','Name'])

In [45]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Cabin     204 non-null    object
 8   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [46]:
df1.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [47]:
df1=df1.drop(columns=['Cabin'])

In [48]:
df1.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [49]:
df1.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [116]:
df1.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [117]:
# x=df1[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]
# y=df1['Survived']

In [118]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

In [119]:
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.feature_selection import SelectKBest,chi2

In [120]:
from sklearn.tree import DecisionTreeClassifier

In [121]:
x_train,x_test,y_train,y_test=train_test_split(df1.drop(columns=['Survived']),df1['Survived'],test_size=0.2,random_state=42)

In [105]:
#Creating the pipelines 
#Column Transformers

# handle missing values---> Categorical Encoding--->Feature Scaling--->Feature Selection--->Decision Tree

In [122]:
trans1=ColumnTransformer([('age_imputer',SimpleImputer(),[2]),('embarked_imputer',SimpleImputer(strategy='most_frequent'),[6])],remainder='passthrough')

In [123]:
trans2=ColumnTransformer([('sex_embarked',OneHotEncoder(sparse=False,handle_unknown='ignore'),[1,6])],remainder='passthrough')

In [124]:
trans3=ColumnTransformer([('scale',MinMaxScaler(),slice(0,10))])

In [125]:
trans4=SelectKBest(score_func=chi2,k=8)

In [141]:
from sklearn.linear_model import LogisticRegression

In [154]:
from sklearn.ensemble import RandomForestClassifier

In [163]:
trans5=DecisionTreeClassifier()#RandomForestClassifier()#

In [164]:
out=Pipeline([('trans1',trans1),('trans2',trans2),('trans3',trans3),('trans4',trans4),('trans5',trans5)])

In [165]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score

In [166]:
from sklearn import set_config
set_config(display='diagram')

In [167]:
out.fit(x_train,y_train)

Pipeline(steps=[('trans1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('age_imputer',
                                                  SimpleImputer(), [2]),
                                                 ('embarked_imputer',
                                                  SimpleImputer(strategy='most_frequent'),
                                                  [6])])),
                ('trans2',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('sex_embarked',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  [1, 6])])),
                ('trans3',
                 ColumnTransformer(transformers=[('scale', MinMaxScaler(),
                                                  slice(0, 10, None))])),
                ('trans4',
                 SelectKBest(k=8,
                             score_func=<function chi2 at 0x000002693EE83C70>)),
                ('trans5', DecisionTreeClassifier())])

In [174]:
params = {'trans5__max_depth':[1,2,3,4,5,None] }

grid = GridSearchCV(out, params, cv=5, scoring='accuracy')
grid.fit(x_train, y_train)

print(grid.best_score_)

0.6391214419383433

In [168]:
y_predict=out.predict(x_test)

In [169]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predict)

0.6256983240223464

In [162]:
cross_val_score(out, x_train, y_train, cv=10, scoring='accuracy').mean()

0.6391431924882629

In [151]:
test_pred = out.predict(df2.drop(columns=['PassengerId','Name','Ticket','Cabin']))

In [152]:
output = pd.DataFrame({'PassengerId': df2.PassengerId, 'Survived': test_pred})
output.to_csv('submission.csv', index=False)

In [153]:
pd.read_csv('submission.csv')

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]